event_registration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Sender" type="xs:string" />
              <xs:element name="Timestamp" type="xs:unsignedShort" />
              <xs:element name="Type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EventRegistration">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UserId" type="xs:unsignedInt" />
              <xs:element name="EventId" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>