general_user.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element name="Sender" type="xs:string" />
							<xs:element name="Timestamp" type="xs:int" />
							<xs:element name="Type" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="User">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UUID" type="xs:string" />
							<xs:element name="Firstname" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Lastname" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Address" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Street" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="Housenumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="City" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="Zip" type="xs:unsignedShort" minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Tags" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="Tag" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Birthday" type="xs:int" minOccurs="0" maxOccurs="1" />
							<xs:element name="MailSubscribe" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
