logging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Message">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element type="xs:string" name="Sender"/>
                            <xs:element type="xs:string" name="Timestamp"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Log">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element type="xs:string" name="Type"/>
                            <xs:element type="xs:string" name="Msg"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="version" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>