specific_format_user_masteruuid.xsd

<!--
  This format is needed in Master UUID
  When a new user is coming in from the frontend it will receive the ID in the UUID property as an int
 -->
<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Sender" type="xs:string" />
              <xs:element name="Timestamp" type="xs:int" />
              <xs:element name="Type" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="User">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UUID" type="xs:int" />
              <xs:element name="Firstname" type="xs:string" />
              <xs:element name="Lastname" type="xs:string" />
              <xs:element name="Email" type="xs:string" />
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Street" type="xs:string" />
                    <xs:element name="Housenumber" type="xs:unsignedShort" />
                    <xs:element name="City" type="xs:string" />
                    <xs:element name="Zip" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name=\"Tags\">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Tag" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>